*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --global-color-azul-extra-claro:    hsl(189, 100%, 95%);
    --global-color-azul-claro:          rgb(30, 140, 255);
    --global-color-azul-escuro:         rgba(4, 19, 36, 0.95);
    --global-color-fundo:               azure;
}

body{
    width: 100%;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;}

.html-home{
    height: 300vh;
    min-width: 545px;}

.html-login{
    max-height: 90vh;
    min-width: 545px;}

.conteiner{
    max-width: 1280px;
    height: 100%;
    margin: auto;
    padding: 0px 5%;}

.flex{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;}

#header-login{
    background-color:var(--global-color-azul-escuro);
    padding: 10px 10px;}

#header-login a{
    color:rgb(255, 255, 255);}

#header-home{
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--global-color-azul-claro);
    transition: 0.5s;
    box-shadow: 2px 5px 10px rgba(56, 56, 56, 0.479);}

#header-login{
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    box-shadow: 2px 5px 10px rgba(56, 56, 56, 0.479);}   

#header-home.rolagem{
    background-color: var(--global-color-azul-escuro);
    padding: 10px 10px;}

#header-home.rolagem a{
    color:rgb(255, 255, 255);}

header div, header div div, header div div a{
    height: 100%;}

header div div a img{
    height: 100%;}

header div{
    height: 100%;}

header ul{
    font-family: "Varela Round", sans-serif;
    font-size: 15pt;
    font-weight: bold;
    list-style-type: none;}

header ul li{
    display: inline-block;
    margin: 0 20px;}

header ul li a{
    color: rgb(0, 48, 136);
    text-decoration: none;
    position: relative;}

nav a::after{
    content: " ";
    width: 0%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--global-color-fundo);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.3s;}

nav a:hover::after{
    width: 100%;}

.btm-login a{
    display: flex;
    align-items: center;
    text-decoration: none;}

.btm-login button{
    font-family: "Varela Round", sans-serif;
    font-size: large;
    font-weight: bold;
    width: 120px;
    height: 60%;
    border: 0;
    border-radius: 5px;
    background-color: var(--global-color-fundo);
    color: var(--global-color-azul-escuro);
    cursor: pointer;
    transition: .2s;}

.btm-login-no{
    width: calc(".btm-login butoon");}

#home-main{
    height: 100vh;
    margin-top: 12vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgb(0, 0, 0, 0),rgb(125, 225, 255),rgba(0, 0, 0, 0));}

.conteiner-card{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color:rgb(219, 219, 219);
}
.content{
    margin: auto;
    width: 80%;
    height: 50%;
    background-color:var(--global-color-fundo);
    border-radius: 15px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before{
    content: " ";
    position: absolute;
    background-color: var(--global-color-azul-escuro);
    width: 40%;
    height: 100%;

}

.title{
    color: var(--global-color-azul-extra-claro);
    font-family: "Varela Round", sans-serif;
    font-size: 15pt;
    font-weight: bold;
    text-transform: capitalize;
}

.title-Color-azulbase{
    color:var(--global-color-azul-escuro);
}

.description{
    font-family: "Varela Round", sans-serif;
    font-size: 14;
    font-weight: 300;
    line-height: 30px;
}

.first-content{
    display: flex;
}

.first-column{
    width: 40%;
    text-align: center;
    flex: 1 0 initial;
    z-index: 10;
}

.second-column{
    flex: 2 0 auto;
}

.list-socialmidia{
    display: flex;
}

.form-etrar-cadastrar{
    display: flex;
    flex-direction: column;
}

.second-content{
    position: absolute;
    display: none;
}

.btn{
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--global-color-azul-extra-claro);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
}

.btn-primary{
    background-color: transparent;
    border: 3px solid --global-color-azul-extra-claro;
}

.btn-primary:hover{
    background-color: var(--global-color-azul-extra-claro);
    color: var(--global-color-azul-escuro);
}
